﻿@model Administracion.Models.apartamento

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>apartamento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoApto)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Habitaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Habitaciones)
            @Html.ValidationMessageFor(model => model.Habitaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Num_piso, "Numero de piso")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Num_piso", String.Empty)
            @Html.ValidationMessageFor(model => model.Num_piso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_apto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_apto)
            @Html.ValidationMessageFor(model => model.Valor_apto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoApto, "Estado del apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoApto)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista de apartamentos", "Apartamentos")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
