﻿@model IEnumerable<Administracion.Models.apartamento>

@{
    ViewBag.Title = "Inicio";
}


<p>
    @Html.ActionLink("Nuevo Apartamento", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoApto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piso.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_apto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_apto.Id_EstadoApto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoApto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_apto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_apto.Id_EstadoApto)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.NoApto }) |
            @Html.ActionLink("Observar", "Details", new { id = item.NoApto })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.NoApto })
        </td>
            
       
    </tr>
}

</table>
