﻿@model Administracion.Models.aptos_servicios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>aptos_servicios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.servicios_publicos.Nombre_servi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.servicios_publicos.Nombre_servi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Install)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Install)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
