﻿@model Administracion.Models.aptos_servicios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>aptos_servicios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.servicios_publicos.Nombre_servi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.servicios_publicos.Nombre_servi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Install)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Install)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
