﻿@model Administracion.Models.aptos_servicios

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>aptos_servicios</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_SerPublic, "servicios_publicos")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cod_SerPublic", String.Empty)
            @Html.ValidationMessageFor(model => model.Cod_SerPublic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto, "apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_Install)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_Install)
            @Html.ValidationMessageFor(model => model.Fecha_Install)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
