﻿@model Administracion.Models.propietario_edificio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>propietario_edificio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_Cedula_Propie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_Cedula_Propie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
