﻿@model Inmobiliaria_MyM.Models.apartamento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>apartamento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoApto)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Habitaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Habitaciones)
            @Html.ValidationMessageFor(model => model.Habitaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Num_piso, "piso")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Num_piso", String.Empty)
            @Html.ValidationMessageFor(model => model.Num_piso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoApto, "estado_apto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoApto)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
