﻿@model Inmobiliaria_MyM.Models.apartamento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>apartamento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoApto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoApto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.piso.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piso.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_apto.Id_EstadoApto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_apto.Id_EstadoApto)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
