﻿@model Inmobiliaria_MyM.Models.apartamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>apartamento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoApto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoApto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.piso.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.piso.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_apto.Id_EstadoApto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_apto.Id_EstadoApto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
