﻿@model IEnumerable<Inmobiliaria_MyM.Models.apartamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoApto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piso.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_apto.Id_EstadoApto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoApto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piso.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_apto.Id_EstadoApto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
