﻿@model Administracion.Models.piso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>piso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Num_piso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Num_piso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.edificio.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edificio.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
