﻿@model Administracion.Models.piso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>piso</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Num_piso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Num_piso)
            @Html.ValidationMessageFor(model => model.Num_piso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nit, "edificio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Nit", String.Empty)
            @Html.ValidationMessageFor(model => model.Nit)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
