﻿@model Administracion.Models.toda_observacion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>toda_observacion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apartamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apartamento)
            @Html.ValidationMessageFor(model => model.Apartamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tipo)
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
