﻿@model Administracion.Models.toda_observacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>toda_observacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
