﻿@model Inmobiliaria_MyM.Models.propietario_edificio

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>propietario_edificio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.C_Cedula_Propie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.C_Cedula_Propie)
            @Html.ValidationMessageFor(model => model.C_Cedula_Propie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
