﻿@model Inmobiliaria_MyM.Models.comprobantes_pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>comprobantes_pago</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_copa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_copa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_pago)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_pago)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_copa.Id_EstadoCopa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_copa.Id_EstadoCopa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
