﻿@model Administracion.Models.fiador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>fiador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_fiador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_fiador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FincaRaiz)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FincaRaiz)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_fiador.Id_EstadoFiador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_fiador.Id_EstadoFiador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contrato.Cod_contrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contrato.Cod_contrato)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
