﻿@model Administracion.Models.observacione

@{
    ViewBag.Title = "Crear";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>observacione</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_obser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_obser)
            @Html.ValidationMessageFor(model => model.Cod_obser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalle)
            @Html.ValidationMessageFor(model => model.Detalle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto, "apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoObser, "estado_obser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoObser", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoObser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_TipoObser, "tipo_observacion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_TipoObser", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_TipoObser)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista de observaciones", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
