﻿@model IEnumerable<Administracion.Models.observacione>

@{
    ViewBag.Title = "Indice";
}


<p>
    @Html.ActionLink("Nueva observacion", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_obser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_obser.Id_EstadoObser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_observacion.TipoObser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_obser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apartamento.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_obser.Id_EstadoObser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_observacion.TipoObser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_obser  }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_obser })
        </td>
    </tr>
}

</table>
