﻿@model Administracion.Models.aptos_ocu_deso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>aptos_ocu_deso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero_apartamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero_apartamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
