﻿@model Inmobiliaria_MyM.Models.pago_admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>pago_admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_cobro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_cobro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.administrador.Nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.administrador.Nombre1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
