﻿@model Inmobiliaria_MyM.Models.pago_admin

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>pago_admin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_cobro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_cobro)
            @Html.ValidationMessageFor(model => model.Fecha_cobro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Admin, "administrador")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cedula_Admin", String.Empty)
            @Html.ValidationMessageFor(model => model.Cedula_Admin)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
