﻿@model Administracion.Models.servicios_publicos

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>servicios_publicos</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_SerPublic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_SerPublic)
            @Html.ValidationMessageFor(model => model.Cod_SerPublic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre_servi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre_servi)
            @Html.ValidationMessageFor(model => model.Nombre_servi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoSerPub, "estado_serpub")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoSerPub", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoSerPub)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
