﻿@model Administracion.Models.servicios_publicos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>servicios_publicos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_SerPublic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_SerPublic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_servi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_servi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_serpub.Id_EstadoSerPub)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_serpub.Id_EstadoSerPub)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
