﻿@model Administracion.Models.servicios_publicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>servicios_publicos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_SerPublic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_SerPublic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_servi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_servi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_serpub.Id_EstadoSerPub)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_serpub.Id_EstadoSerPub)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
