﻿@model Administracion.Models.administrador

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>administrador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_Admin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_Admin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoCelular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoCelular)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
