﻿@model Administracion.Models.administrador

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>administrador</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Admin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula_Admin)
            @Html.ValidationMessageFor(model => model.Cedula_Admin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre1)
            @Html.ValidationMessageFor(model => model.Nombre1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre2)
            @Html.ValidationMessageFor(model => model.Nombre2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido1)
            @Html.ValidationMessageFor(model => model.Apellido1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido2)
            @Html.ValidationMessageFor(model => model.Apellido2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoCelular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoCelular)
            @Html.ValidationMessageFor(model => model.NoCelular)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
