﻿@model Administracion.Models.edificio

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>edificio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nit)
            @Html.ValidationMessageFor(model => model.Nit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ubicacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ubicacion)
            @Html.ValidationMessageFor(model => model.Ubicacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Admin, "administrador")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cedula_Admin", String.Empty)
            @Html.ValidationMessageFor(model => model.Cedula_Admin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Propie, "propietario_edificio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cedula_Propie", String.Empty)
            @Html.ValidationMessageFor(model => model.Cedula_Propie)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
