﻿@model Administracion.Models.estado_fiador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>estado_fiador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_EstadoFiador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_EstadoFiador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado_Fiador1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado_Fiador1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
