﻿@model Inmobiliaria_MyM.Models.fiador

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fiador</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_fiador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula_fiador)
            @Html.ValidationMessageFor(model => model.Cedula_fiador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FincaRaiz)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FincaRaiz)
            @Html.ValidationMessageFor(model => model.FincaRaiz)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoFiador, "estado_fiador")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoFiador", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoFiador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_contrato, "contrato")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cod_contrato", String.Empty)
            @Html.ValidationMessageFor(model => model.Cod_contrato)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
