﻿@model IEnumerable<Inmobiliaria_MyM.Models.fiador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_fiador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FincaRaiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_fiador.Id_EstadoFiador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrato.Cod_contrato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_fiador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FincaRaiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_fiador.Id_EstadoFiador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrato.Cod_contrato)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
