﻿@model Administracion.Models.vigencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>vigencia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero_del_contrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero_del_contrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_del_arrendatario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_del_arrendatario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vencimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vencimiento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
