﻿@model Administracion.Models.vigencia

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>vigencia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero_del_contrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_del_contrato)
            @Html.ValidationMessageFor(model => model.Numero_del_contrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre_del_arrendatario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre_del_arrendatario)
            @Html.ValidationMessageFor(model => model.Nombre_del_arrendatario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vencimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vencimiento)
            @Html.ValidationMessageFor(model => model.Vencimiento)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
