﻿@model IEnumerable<Administracion.Models.vigencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_del_contrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_del_arrendatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vencimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_del_contrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_del_arrendatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vencimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
