﻿@model IEnumerable<Administracion.Models.tipo_observacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_TipoObser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoObser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_TipoObser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoObser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_TipoObser  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id_TipoObser  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id_TipoObser  })
        </td>
    </tr>
}

</table>
