﻿@model Administracion.Models.contrato

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>contrato</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_contrato, "Numero de contrato")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_contrato)
            @Html.ValidationMessageFor(model => model.Cod_contrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_inicio, "Fecha de inicio")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_inicio)
            @Html.ValidationMessageFor(model => model.fecha_inicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto, "Numero de apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoContrato, "Estado del contrato")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoContrato", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoContrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_fin, "Fecha final")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_fin)
            @Html.ValidationMessageFor(model => model.fecha_fin)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Atras...", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
