﻿@model Administracion.Models.contrato

@{
    ViewBag.Title = "Details";
}

<h2>DETALLES</h2>

<fieldset>
    <legend>contrato</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_contrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_contrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_inicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_inicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_contrato.Id_EstadoContrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_contrato.Id_EstadoContrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_fin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_fin)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
