﻿@model IEnumerable<Administracion.Models.contrato>

@{
    ViewBag.Title = "Contratos";
}


<p>
    @Html.ActionLink("Nuevo Contrato", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_contrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_contrato.Id_EstadoContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_contrato,"Codigo")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apartamento.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_contrato.Id_EstadoContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new {  id=item.Cod_contrato }) |
            @Html.ActionLink("Observar", "Details", new {  id=item.Cod_contrato}) |
            @Html.ActionLink("Borrar", "Delete", new {  id=item.Cod_contrato  })
        </td>
    </tr>
}

</table>
