﻿@model Inmobiliaria_MyM.Models.arrendatario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>arrendatario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.No_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.No_id)
            @Html.ValidationMessageFor(model => model.No_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido)
            @Html.ValidationMessageFor(model => model.Apellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoTelefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoTelefono)
            @Html.ValidationMessageFor(model => model.NoTelefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CerBancaria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CerBancaria)
            @Html.ValidationMessageFor(model => model.CerBancaria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CartaLaboral)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CartaLaboral)
            @Html.ValidationMessageFor(model => model.CartaLaboral)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_contrato, "contrato")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cod_contrato", String.Empty)
            @Html.ValidationMessageFor(model => model.Cod_contrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_TipoArrenda, "tipo_arrenda")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_TipoArrenda", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_TipoArrenda)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
