﻿@model Inmobiliaria_MyM.Models.arrendatario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>arrendatario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.No_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.No_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoTelefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoTelefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CerBancaria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CerBancaria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CartaLaboral)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CartaLaboral)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contrato.Cod_contrato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contrato.Cod_contrato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_arrenda.TipoArrenda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_arrenda.TipoArrenda)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
