﻿@model IEnumerable<Inmobiliaria_MyM.Models.arrendatario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CerBancaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartaLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrato.Cod_contrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_arrenda.TipoArrenda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.No_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CerBancaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartaLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrato.Cod_contrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_arrenda.TipoArrenda)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
