﻿@model Administracion.Models.comprobantes_pago

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>comprobantes_pago</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_copa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_copa)
            @Html.ValidationMessageFor(model => model.Cod_copa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_NoApto, "apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Fk_NoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.Fk_NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_pago)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_pago)
            @Html.ValidationMessageFor(model => model.Fecha_pago)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoCopa, "estado_copa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoCopa", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoCopa)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
