﻿@model IEnumerable<Administracion.Models.comprobantes_pago>

@{
    ViewBag.Title = "Index";
}


<p>
           @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_copa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_copa.Id_EstadoCopa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_copa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apartamento.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_copa.Id_EstadoCopa)
        </td>
        <td>
          <!--  @Html.ActionLink("Modificar", "Edit", new {  id=item.Cod_copa }) |
            @Html.ActionLink("Borrar", "Delete", new {  id=item.Cod_copa })
            -->
        </td>
    </tr>
}

</table>
