﻿@model Inmobiliaria_MyM.Models.administrador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>administrador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_Admin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_Admin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoCelular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoCelular)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
