﻿@model Administracion.Models.pago_admin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>pago_admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_cobro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_cobro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_admin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_admin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.administrador.Nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.administrador.Nombre1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
