﻿@model Inmobiliaria_MyM.Models.tipo_observacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tipo_observacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_TipoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_TipoObser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoObser)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
