﻿@model Inmobiliaria_MyM.Models.observacione

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>observacione</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_obser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_obser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_obser.Id_EstadoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_obser.Id_EstadoObser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_observacion.TipoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_observacion.TipoObser)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
