﻿@model Inmobiliaria_MyM.Models.observacione

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>observacione</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cod_obser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cod_obser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detalle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detalle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apartamento.Habitaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apartamento.Habitaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_obser.Id_EstadoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_obser.Id_EstadoObser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_observacion.TipoObser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_observacion.TipoObser)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
