﻿@model Inmobiliaria_MyM.Models.contrato

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>contrato</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cod_contrato)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cod_contrato)
            @Html.ValidationMessageFor(model => model.Cod_contrato)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoApto, "apartamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NoApto", String.Empty)
            @Html.ValidationMessageFor(model => model.NoApto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_EstadoContrato, "estado_contrato")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_EstadoContrato", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_EstadoContrato)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
