﻿@model Inmobiliaria_MyM.Models.edificio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>edificio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubicacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubicacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.administrador.Nombre1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.administrador.Nombre1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.propietario_edificio.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.propietario_edificio.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
