﻿    @{
    ViewBag.Title = "Pagina principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="Administracion">
                <h1>Administración</h1>
            </hgroup>
            <div>
             <img src="~/Images/apto.jpg" />
            </div>
        </div>
    </section>
}
<h3>A cerca de los edificios.</h3>
<ol class="round">
    <li class="one">
        <h5>Datos generales</h5>
        Los edificios etan ubicados en el barrio brisas del sinai cerca a la carcel las heliconias,
        cuentan con grandes espacios para parqueadero de carro y moto, los apartametos son amplios
        y con gran ventilacion. Contamos con sistema de seguridad en cada piso de los edificios.
    </li>
</ol>
